<h1>My Pools</h1>

<table class="table">
  <thead>
    <tr>
      <th>Volume</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pools.each do |pool| %>
      <tr>
        <td><%= pool.volume %></td>
        <td>Freshwater</td>
        <td><%= link_to 'Show', pool %></td>
        <td><%= link_to 'Edit', edit_pool_path(pool) %></td>
        <td><%= link_to 'Delete this Pool', pool, method: :delete, data: { confirm: 'Are you sure you want to delete this pool?  You will loose all of the readings for this pool as well.  This action cannot be undone!' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '+ Create a New Pool', new_pool_path %>
