<div class="card">
  <div class="card-header">
    <h3>My Pool</h3>
  </div>
  <div class="card-body">
    <p class="card-text">Volume: <%= @pool.volume %></p>
    <p class="card-text">Type: Freshwater</p>
    <%= link_to 'Edit', edit_pool_path(@pool) %> |
    <%= link_to 'Back', pools_path %>
  </div>
</div>

<%= render 'pools/readings/readings_chart', readings: @readings %>


<br/>
<div class="readings">
  <h2>Readings</h2>
  <table class="table">
    <thead>
    <tr>
      <th>Date of Reading</th>
      <th>pH</th>
      <th>Alkalinity (ppm)</th>
      <th>Free Chlorine (ppm)</th>
      <th>Cyanuric Acid (ppm)</th>
      <th>Air Temperature (F)</th>
      <th>Water Temperature (F)</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><%= link_to '+ New Reading', new_pool_reading_path(@pool) %></td>
    </tr>
    <% @readings.each do |reading| %>
    <tr>
      <td><%= link_to reading.datetime, edit_pool_reading_path(@pool, reading) %></td>
      <td><%= reading.ph %></td>
      <td><%= reading.alkalinity %></td>
      <td><%= reading.chlorine %></td>
      <td><%= reading.stabilizer %></td>
      <td><%= reading.airtemp %></td>
      <td><%= reading.watertemp %></td>
      <td><%= link_to 'Delete', [@pool, reading], method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
    </tbody>
  </table>
</div>
