<%= form_with(model: @reading, url: [@pool, @reading], local: true) do |form| %>
  <% if reading.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reading.errors.count, "error") %> prohibited this reading from being saved:</h2>

      <ul>
      <% reading.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group field">
    <%= form.label :datetime, 'Date of Reading' %>
    <%= form.datetime_field(:datetime, class: 'form-control col-md-6') %>
  </div>

  <div class="form-group field">
    <%= form.label :ph, 'pH' %>
    <%= form.text_field(:ph, class: 'form-control col-md-6') %>
  </div>

  <div class="form-group field">
    <%= form.label 'Alkalinity (ppm)' %>
    <%= form.number_field(:alkalinity, class: 'form-control col-md-6') %>
  </div>

  <div class="form-group field">
    <%= form.label 'Free Chlorine (ppm)' %>
    <%= form.number_field(:chlorine, class: 'form-control col-md-6') %>
  </div>

  <div class="form-group field">
    <%= form.label 'Stabilizer (ppm)' %>
    <%= form.number_field(:stabilizer, class: 'form-control col-md-6') %>
  </div>

  <div class="form-group field">
    <%= form.label 'Air Temperature (F)' %>
    <%= form.number_field(:airtemp, class: 'form-control col-md-6') %>
  </div>

  <div class="form-group field">
    <%= form.label 'Water Temperature (F)' %>
    <%= form.number_field(:watertemp, class: 'form-control col-md-6') %>
  </div>

    <div class="actions">
      <%= form.submit 'Submit', { class: 'btn btn-default' } %>
    </div>
<% end %>
