<%= form_with(model: @reading, url: [@pool, @reading], local: true) do |form| %>
  <% if reading.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reading.errors.count, "error") %> prohibited this reading from being saved:</h2>

      <ul>
      <% reading.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :datetime %>
    <%= form.datetime_select :datetime %>
  </div>

  <div class="field">
    <%= form.label :ph %>
    <%= form.text_field :ph %>
  </div>

  <div class="field">
    <%= form.label :alkalinity %>
    <%= form.number_field :alkalinity %>
  </div>

  <div class="field">
    <%= form.label :chlorine %>
    <%= form.number_field :chlorine %>
  </div>

  <div class="field">
    <%= form.label :stabilizer %>
    <%= form.number_field :stabilizer %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
