<p id="notice"><%= notice %></p>

<p>
  <strong>Datetime:</strong>
  <%= @reading.datetime %>
</p>

<p>
  <strong>Ph:</strong>
  <%= @reading.ph %>
</p>

<p>
  <strong>Alkalinity:</strong>
  <%= @reading.alkalinity %>
</p>

<p>
  <strong>Chlorine:</strong>
  <%= @reading.chlorine %>
</p>

<p>
  <strong>Stabilizer:</strong>
  <%= @reading.stabilizer %>
</p>

<p>
  <strong>Air Temp:</strong>
  <%= @reading.airtemp %>
</p>

<p>
  <strong>Water Temp:</strong>
  <%= @reading.watertemp %>
</p>

<%= link_to 'Edit', edit_reading_path(@reading) %> |
<%= link_to 'Back', readings_path %>
